@model MusicShop.ViewModels.StoreViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" type="text" name="search" placeholder="Search" />
        </div>
        <div class="col-md-2">
            <input class="form-control" type="submit" value="Search" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:right">
            <a id="advancedSearch" href="#">Advanced Search</a>
        </div>
    </div>
    <div class="row advancedSearch">
        <div class="col-md-4">
            <select name="genre" class="form-control">
                <option value="">Select a Genre</option>
                @foreach (var genre in Model.Genres.Select(x => x.Name).Distinct())
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="number" name="fromYear" placeholder="From" />
        </div>
        <div class="col-md-4">
            <input class="form-control" type="number" name="toYear" placeholder="To" />
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var albumViewModel in Model.Albums)
                {
                    <tr data-toggle="modal" data-target="#albumModal" data-id="@albumViewModel.Album.ID" data-url="@Url.Action("Album", new { id = albumViewModel.Album.ID })">
                        <td>@albumViewModel.Album.Title</td>
                        <td>@albumViewModel.Album.Artist</td>
                        <td>@albumViewModel.Genre.Name</td>
                        <td>@albumViewModel.Album.Year</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="albumModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Album Details</h4>
            </div>
            <div class="modal-body" id="albumModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#albumModal').on('show.bs.modal', function (event) {
            $.post("@Url.Action("Album","Home")", { id: $(event.relatedTarget).data('id') }, function (data) {
                document.getElementById("albumModalBody").innerHTML = data;
            });
        });
    </script>
}